*:focus { 
	outline: none; 
}

*::-moz-focus-inner { 
	border: none; 
}

.site-item {
	position: relative;	
	float: left;
	display: block;
	width: 275px;
	border-radius: 3px;	
	margin-bottom: 30px;

}

img.imagecache-site_thumb_small {
	box-shadow: 0 0 8px #CCC;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;   
	padding-top: 26px;
	display: block;
	border-radius: 3px !important;		
	background: white url(../images/midori-small.png) no-repeat;
}

.site-item:hover img.imagecache-site_thumb_small,
img.imagecache-site_thumb_small:hover {
	box-shadow: 0 2px 6px #16304B;
}
/*
.sidebar-collapsed .site-item.odd {
	margin-right: 0px;
}

.site-item.odd,
.sidebar-collapsed .site-item.first,
.sidebar-collapsed .site-item.second {
	margin-right: 30px;
}*/

.site-item {
	margin-right: 20px;
}

.site-item .form-option {
	margin-top: -3px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;  	
	border-radius: 3px;		
	border: 0;
	padding: 5px;
	width: 265px;
	background: #666666;
}

.site-item:hover .form-option {
	box-shadow: 0 2px 6px #16304B;
}

.site-item label {
	color: white;	
}

.imagecache-site_thumb_big {
	border-radius: 6px;			
	padding-top: 52px;
	background: url(../images/midori.png) no-repeat;
	box-shadow: 0 0 8px #CCC;
	border: 1px solid #8E8E8E;
	margin-bottom: 10px;
}

div#navigation ul.links li a {
	margin-right: 0px;
	margin-left: 5px;
	border-radius: 3px 3px 0 0;			
}

#block-hosting-hosting_queues .content > a {
	float: right;	
	padding: 5px;
}

#block-hosting-hosting_queues {
	margin-bottom: 35px;	
}

.path-hosting-sites #hosting-site-list-form #edit-submit {
	margin-left: 10px;	
}

.add-item {
	margin-bottom: 20px;	
	float: left;
	padding: 3px 9px;
	margin-right: 10px;
	border-radius: 3px;
	background: #F8F8F8;
}

.add-item:hover {
	background: #666666;
	color: white;
}

.clear {
	clear: both;	
}

.clear-left {
	clear: left;	
}

.float-left {
	float: left;	
}

.sidebar-collapsed #page .limiter {
	background: white !important;	
}

.sidebar-collapsed #main {
	width: 920px;	
}

.sidebar-collapsed #right.sidebar {
	display: none;	
}

#page,
#page.limiter {
	position: relative !important;	
}

#sidebar-collapser {
	padding: 1px 6px;
	cursor: pointer;
	position: absolute;
	top: 10px;	
	font-size: 11px;
	background: #666666;
	background: #F7F7F7;
	color: white;
	color: #666;	
	border-radius: 3px;
	font-weight: bold;
	margin-left: 285px;
}

#sidebar-collapser:hover {
	background: #666666;
	color: white;
}

.sidebar-collapsed #sidebar-collapser {
	border-radius: 0 3px 3px 0;
	margin-left: 0px;
	top: 11px;		
}

.sidebar-collapsed #hosting-site-info {
	width: 600px;
}

.sidebar-collapsed #hosting-site-info .form-item {
	margin-left: 290px !important;
}

a.hosting-goto-site-link,
a.hosting-goto-site-link:hover {
	background-image: none;
	padding: 0px;
	width: 290px;
	text-decoration: none;
}

a.hosting-goto-site-link span {
	color: gray;	
	margin-top: 10px;
	display: block;
	font-weight: normal;
	font-style: italic;
}

.sidebar-collapsed #hosting-site-info a.hosting-goto-site-link {
	margin-bottom: -190px;	
}

.platform-header {
	float: left;
	width: 100%;
	border-bottom: 2px dashed #eee;
	margin-bottom: 20px;
}

.platform-header a {
	font-size: 16px;	
	line-height: 30px;
}

.modalframe {
  border: 0 !important;
  box-shadow: 0 0 10px black;
}

.modalframe .ui-dialog-titlebar {
	border-color: #666 !important;	
}

#search-sites {
	width: 130px;	
	border: 0px solid #F8F8F8;
	border-radius: 3px;
	background: #F5F5F5;
	padding: 4px 6px;
	margin-top 1px; 
	box-shadow: inset 0 2px 3px gray;
}

#search-sites:focus {
	background: white;
}

.search-sites-form {
	position: relative;	
	display: inline-block;
}

#clear-search {
	cursor: pointer;
	position: absolute;
	background: url(../images/edit-clear.png);
  padding: 24px 0 0 0;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 0px !important;
  height /**/:24px;	
  width: 24px;
  margin-left: 114px;
  margin-top: -23px;
}